@import url(./__img/feynman__img.css);
@import url(./__link/feynman_link.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);

.feynman {
    position: relative;
    height: 792px;
    padding-top: 100px;
}